<div class="container">
  <form>
    <div>
      <label>Id</label>
      <input type="text"  name="id">
    </div>

    <div>
      <label>Author</label>
      <input type="text"  name="autor">
    </div>

    <div>
      <label>Musica</label>
      <input type="text"  name="musica">
    </div>

    <button> Salvar | Criar </button>
  </form>

  <table>
    <thead>
      <th> Id </th>
      <th> Author </th>
      <th> Música </th>
      <th> ... </th>
    </thead>

    <tbody>
      <tr >
        <td> Id </td>
        <td> Author </td>
        <td> Música </td>
        <td>
          <span > alterar </span>
          <span > remover </span>
        </td>
      </tr>

    </tbody>
  </table>
</div>
